extends layout
block main-content
  .row.under-header
    .col.s8#chat(ng-controller='ChatCtrl')
      ol
          li.chip(ng-repeat='message in messages', ng-class='message.sender == name ? \'right cyan\' : \'left\' ')
            strong.cyan-text(ng-if='message.sender != name') {{message.sender}}:
            | {{message.text}}
      #input-area.row.white
        .input-field.col.s10
          textarea.materialize-textarea(placeholder='Enter your message here', ng-model='text')
        .input-field.col.s2
          input.btn.waves-effect.waves-light.cyan(type='submit', value='Send', ng-click='sendMessage()')
    .col.s4.grey.lighten-5 Game section
