extends layout
block main-content
  .row
    .col.s8#chat
      ol
        - for (var x = 0; x < 10; x++)
          li.chip.left
            strong.cyan-text Alessandro: 
            | Hello there, my name is Ale
          li.chip.left
            strong.cyan-text Paul: 
            | My name is Paul. Nice to meet you o/
          li.chip.right.cyan.white-text Hi lads!
      #input-area.row.white
        .input-field.col.s10
          textarea.materialize-textarea(placeholder='Enter your message here')
        .input-field.col.s2
          input.btn.waves-effect.waves-light.cyan(type='submit', value='Send')
        
    .col.s4.grey.lighten-5 Game section
