extends layout
block main-content
  h4.center-align.cyan-text Have a look at our awesome chat app;)
  
  div.center-align#Nav
    a.waves-effect.waves-light.btn(href="#Demo") Demo
    a.waves-effect.waves-light.btn(href="#Introduction") Introduction
    a.waves-effect.waves-light.btn Click

  div.card-panel.cyan.lighten-4#Demo 
    h3.center-align.cyan-text Demo
    div.video-container.center-align
      iframe(src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen)
    div.right-align
      a(href="#Nav") back to the top

  div.card-panel.pink.lighten-4#Introduction
    h3.center-align.white-text Introduction
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue arcu vitae odio interdum dictum. 
    Nam molestie mauris et erat laoreet fringilla. Sed ultrices ultrices elementum. Duis finibus ex ac lectus gravida iaculis. 
    Morbi nec finibus lorem. Quisque gravida vel nisi sed molestie. Pellentesque placerat vestibulum ante eget vestibulum. Ut congue ante id augue tempus ultricies. Aliquam tellus nisl, dignissim in risus id, consectetur hendrerit metus. Sed vel mollis nibh, nec malesuada enim. Phasellus eu dui eleifend, lacinia libero nec, posuere dolor. Aliquam vitae turpis id leo suscipit vulputate. Donec vel urna ac mi iaculis tempor ut in lorem. Nullam rutrum quam quam, vitae egestas risus ornare eget. Aliquam urna enim, pellentesque vitae quam non, pretium accumsan erat.


