extends layout
block main-content
  div(id="container")
    textarea(id="write" rows="6" cols="60")
    ul(id="keyboard")
          li.symbol
            span(class="off") `
            span(class="on") ~
          li.symbol
            span.off 1
            span.on !
          li.symbol
            span.off 2
            span.on @
          li.symbol
            span.off 3
            span.on #
          li.symbol
            span.off 4
            span.on $
          li.symbol
            span.off 5
            span.on %
          li.symbol
            span.off 6
            span.on ^
          li.symbol
            span.off 7
            span.on &amp;
          li.symbol
            span.off 8
            span.on *
          li.symbol
            span.off 9
            span.on (
          li.symbol
            span.off 0
            span.on )
          li.symbol
            span.off -
            span.on _
          li.symbol
            span.off =
            span.on +