doctype
html(ng-cloak)
  head
    title Chat App
    base(href='/')

    include styles

  body
  
    header
      nav#top-nav.cyan
        .nav-wrapper
          a.brand-logo(href='#') Our Chat App
          ul.right.hide-on-med-and-down.medium
            li
              a(href="index") Home Page
            li
              a(href="chat") Chat Room
            li
              i.tiny.material-icons.left.yellow-text grade
              strong 3000 
              | Points

    main
      block main-content
    
    footer#main-footer.page-footer
      .nav-wrapper.footer-copyright.grey.lighten-3.grey-text.text-darken-2
        | Produced hastily at 
        a(href='http://ichack.org') ICHack 2016
        .right 
          a(href='http://github.com/ThomasBower/ChatApp') Github 
          | &bull; &copy; 2016

    include scripts
