doctype
html(ng-cloak)
  head
    title Chat App
    base(href='/')

    include styles

  body
  
    nav.cyan
      #nav-wrapper
        a.brand-logo(href='#') Our Chat App
        .right.hide-on-med-and-down.tiny
          i.tiny.material-icons.left.yellow-text grade
          strong 3000 
          | Points

    block main-content

    include scripts
