doctype
html(ng-cloak)
  head
    title Chat App
    base(href='/')

    include styles

  body
  
  nav.cyan
    #nav-wrapper
      a.brand-logo(href='#') Banter Chat
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href='#') Test

  block main-content

  include scripts
