link(href='assets/bower_components/Materialize/dist/css/materialize.min.css', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet', type='text/css')
link(href='assets/css/custom.css', rel='stylesheet', type='text/css')
