extends layout
block main-content
    a(href="chat") Chat Room
    div(ng-controller='MainCtrl')
        input(type='text', ng-model='name')
        input(type='submit', value='Join', ng-click='join()')

