header {
  z-index: 10;
}

.nav-wrapper {
  padding: 0 30px;
}

#top-nav .right {
  font-size: 1.3em;
}

#main-footer {
  margin-top: 0;
  padding-top: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

main .row {
  margin-bottom: 0;
  height: 100%;
}

main .row .col {
  height: 100%;
}

#chat {
  padding-left: 30px;
}

#chat > ol {
  padding: 0;
  list-style-type: none;
}

#chat > ol li {
  line-height: 1.8em;
  font-size: 1.2em;
}
