header {
  z-index: 10;
}

.nav-wrapper {
  padding: 0 30px;
}

#top-nav .right {
  font-size: 1.3em;
}

#main-footer {
  margin-top: 0;
  padding-top: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

main > .row {
  margin-bottom: 0;
  height: 100%;
}

main > .row > .col {
  height: 100%;
}

#chat {
  padding: 0 0 100px;
  overflow-x: hidden;
  position: relative;
}

#chat > ol {
  margin: 0;
  padding: 0 30px;
  max-height: calc(100vh - 214px);
  width: 100%;
  overflow-y: scroll;
  list-style-type: none;
}

#chat > ol li {
  font-weight: normal;
  line-height: 1.8em;
  font-size: 1.2em;
  display: block;
  clear: both;
  margin-bottom: 5px;
}

#chat textarea {
  margin: 0;
  padding: 0;
  border-bottom-width: 0;
}

#chat .s10 {
  padding: 0 30px;
}

#input-area {
  height: 100px;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.16);
  /*outline: 1px solid red;*/
}

#input-area input[type=submit] {
  height: 100%;
  width: 100%;
} 
